{% extends 'base.html' %}
{% block title %}Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Ya estas logueado
  <p><a href="{% url 'home' %}">Home</a></p>
{% else %}
<div class="context">
  <div class="container">
      <div class="container-header"><h2>Login</h2></div>
      <form method="post" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Enviar</button>
      </form>
  </div>
</div>

{% endif %}
{% endblock %}